.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  
}
.Main{
    color: white;
    background-color: black;
    min-height: 100vh;
}
.link{
    display: flex;
    padding-top: 40px;
    justify-content: center;
    margin-bottom: 20px;
}