.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  
}
.Main{
    color: white;
    background-color: black;
    min-height: 100vh;
}
.link{
    display: flex;
    padding-top: 40px;
    justify-content: center;
    margin-bottom: 20px;
}
.parent{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 51%;
    margin-bottom: 20px;
}
.newUsername{
    display: flex;
}
.inp{
    border-radius: 20px 0 0 20px;
}
.btn{
    border-radius: 0 20px 20px 0;
}
.text{
    font-size: 18px;
}
.err{
    display: flex;
    justify-content: center;
    color:red
}