.container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-top: 25px;
    align-items: center;
}
.container2{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-top: 3px;
    align-items: center;
}
.userInfo{
    width: 175px;
}
.divi{
    background-color: gray;
}

@media screen and (max-width: 600px) {
    .container{
        flex-wrap: wrap ;
        justify-content:center;
        &__inp{
            width: 70%;
        }
    }
    .search{
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
}