.MainParent{
    width: 100%;
}
.Main{
    color:black
}
.container{
    background-color: white;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 15px;
}
.container2{
    background-color: rgb(161, 161, 161);
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 15px;
}
.parentBtn{
    width: 100%;
    display:flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.btn{
    border-radius: 20%;
}
.out{
    margin-right: 5px;
}
.containerChilcd{
    &__text{
        padding-bottom: 10px;
    }
}