.menu{
    display: flex;
    justify-content: center;

}
.Main{
    background-color: black;
    height: 100vh;
}
.container{
    // background-color: black;
    margin: 0 auto;
    width: 60%;
    &__user{
        display: flex;

    }
    &__btn{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
}
.name{
    margin-bottom: 90px;
}

.error{
    color:red;
}