.Main{
    background-color: black ;
    min-height: 100vh;
}

.container{
    color:white;
}
.row{
    flex-direction: row;
}
.divi{
    background-color: gray;
}
.zagr{
    margin-top: 50px;
    width: 100%;
    background-color: black;
    height: 100%;
}