.themeSwitch{
    display: flex;
    align-items: center;
}
.switch{
    margin-left: 10px;
}
.lin{
    text-decoration: none;
}

@media screen and (max-width:600px) {
    .switch{
        display: none;
    }
}