.container{
    display: flex;
    align-items: center;
   
    &__username{
        margin-right: 10px;
        display: none;
    }
}
.menu{
    position: absolute;
    right:40px;
    top:21px;
    border-radius: 10px;
}
.lin{
    text-decoration: none;
}

@media screen and (max-width:600px) {
    .container{
        margin-bottom: 40px;
        &__username{
            display: none;
        }
    }
    .menu{
        right: 35%;
        top:14%;
    }
}
