.container{
    display: flex;
    align-items: center;
    justify-content: end;
   
    &__username{
        margin-right: 10px;
        display: none;
    }
}
.menu{

    border-radius: 10px;
    width: 70%;
}
.lin{
    text-decoration: none;
}

@media screen and (max-width:600px) {
    .container{
        justify-content: center;
    }
    .menu{
        margin-top: 20px;
        display: flex;
        justify-content: center;

    }
}
