.movie-app > .row {
  overflow: auto;
  flex-wrap: wrap;
}
.rowChild {
  width: auto;
  padding: 15px;
}
.wh{
  width: 70%;
}
.slick-next{
  right: 30px !important;
}

.slick-prev{
  left: 30px !important;
  z-index: 1000;
}

.ant-btn-default:disabled{
  background-color: rgb(255, 255, 255);
}
.ant-switch-inner{
  border: 2px solid gray;
}
.ant-menu-submenu-title{
  padding-left: 8px !important;
}
.ant-menu-item-only-child{
  z-index: 1000;
  padding-left: 8px !important;
}
.ant-select-selector{
  border: none !important;
}