.movie-app > .row {
  overflow: auto;
  flex-wrap: wrap;
}
.rowChild {
  width: auto;
  padding: 15px;
}

.slick-next{
  right: 30px !important;
}

.slick-prev{
  left: 30px !important;
  z-index: 1000;
}
