.mt{
    margin-top: -10px;
   
}
.Main{
    color: white;
    background-color: black;
    min-height: 100vh;
}
.Main2{
    color: white;
}
.zagr{
    margin-top: 20px;
    width: 100%;
    &__hed1{
        display: flex;
        justify-content: center;
    }
}
.link{
    display: flex;
    padding-top: 40px;
    justify-content: center;
    margin-bottom: 20px;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__right{
        flex:1;
        padding: 10px;
        margin-left: 20px;
        margin-top: -25px;
    }
}
.containerTop{
    display: flex;
    width: 70%;
}
.ParentItem{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.item{
    width: 150px;
    margin-top: 10px;
}
.itemRight{
    flex:1;
}
.itemRight2{
    height: 90%;
    flex:1;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 20px;
}

.containerBottom{
    width:  70%;
    text-align: start;
}
.Bottom{
    height: 100%;
}
.twoItem{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    width: 70%;
}
.containerRating{
    margin-top: 20px;
    width: 70%;
}
.containerTrailer{
    display: flex;
    justify-content: center;
}
.containerComment{
    display: flex;
    justify-content: center;
    width: 70%;
}
.star{
    margin-right: 5px;
}
.divid{
    background-color: white;
    min-width: 60%;
    width: 70%;
}


@media screen and (max-width: 600px) {
    .containerTop{
        display: block;
    }
    .twoItem{
        display: block;
    }
    iframe{
        width: 300px;
    }
    .containerRating{
        width: 100%;
    }
    .containerRating{
        text-align: center;
    }
    .itemRight2{
        justify-content: center;
    }
    .container{
        
        &__right{
           margin-top: 10px;
        }
    }
    
}